mixin storeForm(store = {})
  form(action=`/add/${store._id || ''}` method="POST" class="card")
    label(for="name") Name
    input(type="text" name="name" value=store.name)
    lable(for="description") Description
    textarea(name="description")= store.description
    -const choices = ['Late night', 'Family Friendly', 'Licensed', 'Vegeterian'];
    -const tags = store.tags || []
    ul.tags
      each choice in choices
        div.tag.tag__choice
          input(type="checkbox" name="tags" value=choice id=choice checked=(tags.includes(choice)))
          label(for=choice) #{choice}
    input(type="submit" value="Save ⏩" class="button")

